* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
}

.list-group-item:hover {
  background-color: #f8f9fa;
  transition: background-color 0.2s ease-in-out;
}

.btn-group .btn {
  transition: all 0.2s ease;
}

.btn-group .btn:hover {
  transform: scale(1.05);
}

.accordion .accordion-button {
  --bs-accordion-btn-bg: #fff;
  /* สีพื้นหลังตอนปิด (ฟ้าอ่อน) */
  --bs-accordion-active-bg: #0d9488;
  /* สีพื้นหลังตอนเปิด (ฟ้าอ่อนสดใสขึ้น) */
  --bs-accordion-btn-color: #212529;
  /* สีตัวหนังสือเข้ม อ่านง่าย */
  --bs-accordion-active-color: #fff;
  /* สีตัวหนังสือตอน active (น้ำเงินเข้ม) */
  --bs-accordion-border-color: #cfd8dc;
  /* สีเส้นขอบอ่อน ๆ */
  border-radius: 8px;
  /* มุมโค้งนิดหน่อย */
  margin-bottom: 8px;
  /* เว้นระยะระหว่าง accordion */
  box-shadow: none !important;
  /* ลบเส้นสีน้ำเงิน */
  border-color: transparent !important;
  /* กันไม่ให้ขึ้น border สีฟ้า */
}

.custom-thead .thead.table-primary.text-center.custom-thead {
  background-color: #2C3B50;
  /* สีพื้นหลัง */
  color: white;
  /* สีตัวอักษร */
  text-align: center;
  /* จัดกลาง */
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #d9d9d9 !important;
  /* สีเทาเข้มขึ้น */
  color: #2C3B50;
  /* ให้ตัวอักษรยังคงสีเดิม */
}

.menu-link {
  text-decoration: none;
  color: inherit;
  display: block;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.menu-link:hover {
  background-color: #f0f0f038;
  /* สีเทาอ่อนมากเวลา hover */
}

.menu-link.active {
  background-color: #e0e0e08e;
  /* สีเทาอ่อน แต่เข้มกว่า hover เล็กน้อย */
}